.card {
  width: 275px;

  color: white;
  background-color: #232323;
}

.blank {
  height: 250px;
}

.text {
  display: grid;
  grid-template-areas:
  "title year";
  grid-template-columns: 4fr 2fr;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
}

.genres {
  color: #555555;
}

.title {
  grid-area: title;
}

.year {
  grid-area: year;
}

.actions {
  grid-area: actions;
  padding-right: 15px;
  padding-left: 200px;
}
