.home {
  grid-area: home;
  background-color: #232323;
  padding: 30px 20px 20px 40px;
}

.top {
  display: grid;
  grid-template-areas:
  "genreslist parametersdropdown";
  grid-template-columns: 9fr 2fr;
}
